.work {
  margin: 0;
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;

    color: #ffffff;
    margin-top: -80px;
    margin-left: 30px;
  }
  &__text2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
    margin-top: -50px;
    margin-left: 30px;
  }
}
